/*Footer*/

.footer {
    height: 10%;
    background-image: linear-gradient(red, orange);
    padding: 1.6rem;
    font-style: italic;
    font-weight: bold;
    text-align: left;
    font-size: 14px;

    &:hover {
        color: white;
    }
}

@media only screen and (max-width: 768px) {
    .footer {
        font-size: 10px;
        text-align: center;
        color: white;
    }
}
